
.header {
    
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 0;
    padding:92px 50px 96px 50px;
    
    
}
/*
.pixel-perfect-image {
    position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
    filter: sepia(0.6);
}
*/
.unmarked {
    list-style: none;
    
}

.menu {
    font-size: 18px;
    display: flex;
    padding-right: 25px;
    list-style: circle;
    justify-content: space-between;
    align-items:stretch;
    
    
}

.menu-list {
    display: flex;
    text-decoration: none;
    
    flex-grow: 1;
}

.header-logo {
    
    display:block;
    width: 148px;

}



.adress{
    font-size: 18px;
    display:flex;
    flex-direction: column;
    font-style: normal;
    max-width: 240px;
    justify-self: center;
    margin-left: 184px;

}



.cover {
    
    display:flex;
    flex-direction: column;
    padding: 165px 50px 50px 50px;
    color: #fff;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;


}

.overlay {
    position: absolute;
    inset:0;
    background-color:rgba(0,0,0,0.6);
    z-index:1;
   
    
    
}

.title {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: 100px;
    letter-spacing: 30px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: space-between;
    height: 385px;
    width: 1000px;
    margin-top: 165px;
    margin-bottom: 106px;


}
.title-word-1 {
    
    align-self: start;
    

}

.title-word-2 {
    
    justify-self: center;
    align-self: center;
}

.title-word-3 {
    
    justify-self: end;
    align-self:end;
}


.description {
    min-height: 28px;
    display: flex;
    font-size: 22px;
    font-style:normal;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    margin:1px 50px 50px 50px;
    


}
.description-phrase {
    display: flex;
    justify-self: start;
    word-spacing: 21px;

}

.button{
    display: flex;
    border: 1px solid #fff;
    padding: 12px 32px 11px 31px ;
    justify-self: end;
}
.lots {
    
    margin: 180px 24px 120px 24px;

}
.card {
    display: flex;
    width: 334px;
    min-height: 596px;
    
    list-style:none;
    background-size: cover;
    background-position: center;

}
.lots_heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;

}

.card-lots {
    display: flex;
    gap: 25px; 
    height: 100%;
    margin-bottom: 30px;
}
.card-lot {
    display:flex;
    flex-direction: column;
    width: 334px;
    height: 596px;
    justify-content: space-between;

}



.card_title {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    margin:48px 40px 0 40px;
    

}
.card_text {
    display: flex;
    color: white;
    line-height: 120%;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    margin:0 40px 48px 40px;
    
    

}

.lot-1 {
    background-image: url(../images/card-lot-01.jpg);
    position: relative;
}

.lot-2 {
    background-image: url(../images/card-lot-02.jpg);
    position: relative;
}
.lot-3 {
    background-image: url(../images/card-lot-03.jpg);
    position: relative;
}
.lots_look-more-link {
    font-size: 20px;
    margin-left: 40px;

}

.about {
    display: grid;
    grid-template-columns: 240px 1fr;
    margin:0 24px 180px 24px

}
.about_logo_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    margin:35px 0 0 47px;
}
.about_logo_image {
    background-image: url(../images/logo-white.svg);
    background-size:cover;
    width: 148px;
    height: 114px;
    
}
.about_column {
    padding-left: 120px;
}

.about_title {
    
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 136px 0 100px 0;
}

.about_text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 125%;
    font-style: normal;
    gap:24px;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    height: 180px;

}
.footer-adress {
    font-size: 18px;
    display:flex;
    flex-direction: column;
    font-style: normal;
    max-width: 240px;
    justify-self: center;
    
}
.footer_menu {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-self: center;
    
}
.footer_social-list {
    display: flex;
    list-style: none;
    justify-self: center;
    gap:48px;
}
.footer_social-list-item {
    height: 48px;
    width:48px;
    

}